
.header-model-x {
    background-image: url("/src/images/teslaxxx.jpg");
    height: 100vh;
    width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
}

.tesla-xxx{
    display: grid;
    justify-content: center;
    padding-top: 8rem;
}

.speed {
  display: flex;
  color: #fff;
  justify-content: center;
  padding-top: 35rem;
  gap: 4rem;
}

.x-btn {
    position: absolute;
    left: 74rem;
    padding: 8px 40px;
    white-space: nowrap;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}   

.x-btn:hover {
    transition: 0.4s;
    background-color: #fff;
    color: #000;
}

.interior {

    background-image: url('../../images/interier.jpg');
    background-size: cover;
    height: 100vh;
}

.inter h1{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    color: #fff;
}


.monitors {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    
}

.mon {
    background-color: #000;
    
}

.monitors img {
    width: 600px;
    height: 300px;
}

.aaa{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    padding-left: 6rem;
}

.text-xx p {
  width: 60%;
}
.mon-2 {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
   padding-right: 10rem;
}
.mon-2 img {
    width: 35%;
    height: 35vh;
}

.text-mon-2  {
    display: grid;
   justify-content: center;
   
}
.text-mon-2 p{
    width: 60%;
   
}
.text-mons {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
}

.mons{
    display: flex;
    justify-content: center;
}

.text-mons img {
    width: 45%;
    height: 35vh;
    padding-left: 5rem;
}

.text-m h3 {
    text-align: center;
}

.text-m {
    margin-right: 23rem;
    margin-left: 8rem;
}

.inner{
    background-image: url('../../images/tesla-cars.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #fff;

}

.logo-car {
    display: flex;
    justify-content: center;
    padding-top: 33rem;
    gap: 6rem;
}

.logo-p {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.logo-inner {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.logo-text {
    padding-left: 8rem;
}
.logo-text h3 {
    white-space: nowrap;
}

.logo-inner p{
    width: 50%;
}


.btn-inner {
    padding: 3px 3rem;
    border-radius: 35px;
    background-color: #fff;
}

.btn-inner:hover {
    background-color: #000;
    color: #fff;
}
.electric {
    background-color: rgba(207, 207, 207, 0.452);
}
.text-elctric {
    text-align: center;
    height: 30vh;
    align-items: center;
}


.box-66 .box-btn-x {
    margin-top: 10rem;
    padding: 5px 3rem;
    border-radius: 50px;
    background-color: #fff;
}
.box-btn-x:hover {
    background-color: #000;
    color: #fff;
    transition: 0.7s;
}
.box-66 {
    margin-top: 3rem;
    margin-left: 3rem;
}

.box-6x{
    background-image: url('../../images/Capable.jpg');
    height: 100vh;
    width: 160vh;
    display: flex;
    background-size: cover;
    justify-content: center;
    padding-top: 25rem;
    gap: 5rem;
}
.box-6x p{
    display: flex;
    color: #fff;
}

.box-6x h3 {
    display: flex;
    color: #fff;
}

.box-6xxx{
    display: flex;
    justify-content: space-evenly;
}


.disigne-box {
    background-image: url('../../images/disigne.jpg');
    background-size: cover;
    height: 100vh;
}

.box-textt {
    display: flex;
    gap: 2rem;
    justify-content: center;
    color: #fff;
    padding-top: 35rem;
}

.box-textt h3 {
  position: absolute;
  bottom: 2rem;
}



.satfey{
    background-image: url('../../images/sfety.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-right: 60rem;
    position: relative;
}

.safety-box {
    display: flex;
    justify-content: center;
    padding-left: 5rem;
}

.safety-btn {
    background-color: #fff;
    color: #000;
    padding: 5px 3rem;
    border-radius: 50px;
    position: absolute;
    bottom: 8rem;
}

.safety-btn:hover {
    background-color: #000;
    color: #fff;
    transition: 0.6s;
}

.autopilot {
    
}
.cccc{
    display: flex;
    justify-content: center;
    padding-left: 3rem;
    gap: 3rem;
}

.autopilot h1 {
    white-space: nowrap;
}

.auto-boxxxs {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.text-pp {
    padding-right: 30rem;
}

.auto-btn {
    background-color: #fff;
    color: #000;
    padding: 5px 3rem;
    border-radius: 50px;
}

.auto-btn:hover {
    background-color: #000;
    color: #fff;
    transition: 0.6s;
}


.safety-video {
   margin-left: 20rem;
   
}


@media(min-width:1024px) and (max-width:1360px){
   .inter h1{
        background-color: #000;

   }
   .monitors img{
       margin: 0;
       padding: 0;
   }
   .monitors{
       display: flex;
       justify-content: center;
   }
   .text-xx p{
       width: 60%;

   }
   
    .speed{
        display: none;
    }
    .box-10{
        display: none;
    }
}