
.navbar h1{
    font-size: 25px;
    font-family: 'Audiowide', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Share Tech Mono', monospace;
}

.navbar {
    list-style: none;
    align-items: center;
    position: absolute;
    flex-wrap: nowrap;
    white-space: nowrap;
    display: flex;
    gap: 5rem;
    justify-content: center;
}
.navbar a{
    text-decoration: none;
  text-transform: uppercase;
  display: flex;
  padding-left: 5rem;
  position: relative;
  z-index: 2;
  color: black;
  text-decoration: none;
  transform-style: preserve-3d;
}



.tesla {
    cursor: pointer;
    font-family: 'Geostar', cursive;
    flex-wrap: wrap;
    
}

@media (min-width:1024px) and (max-width: 1400px){
    .navbar{
        flex-wrap: wrap;
        display: flex;
        align-items: center;
     }
     .bods ul{
        display: flex;
        justify-content: center;
        gap: 9rem;
     }
     .navbar a{
        display: flex;
        position: absolute;

    }
}

@media  (min-width: 480px) and (max-width: 550px){
   
    .navbar{
       flex-wrap: wrap;
       display: flex;
       align-items: center;
    }
    .bods ul{
       display: grid;
       justify-content: center;
       gap: 2rem;
       padding-right: 10rem;
    }
    .navbar a{
        display: flex;
        position: absolute;

    }
}