
.btn_mather{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
}


.tex-mp{
    margin-top: 3rem;
    text-align: center;
}
.img-map img{
   
    
}



@media(min-width:480px) and (max-width:550px){
    .btn_mather{
        flex-wrap: wrap;
    }
   
}