body {
    margin: 0;
    padding: 0;
}


.carusel {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 60%;
    padding-top: 4rem;
    margin-left: 25rem;
    background-size: cover;
}

.glavny {
    background-color: black;
    background-size: cover;
}

.img-1 img {
    width: 100%;
}


